/* Google Font - Inter Tight Font */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"); /* Css Starts Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

@media (max-width: 1440px) {
  /* Body's Max Width Initialize */
  body {
    max-width: 1440px;
  }

  /* Header Starts Here */
  .navbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-color: #77429a;
    margin: 12px 10px 0px 10px;
    padding: 10px 0px;
  }
  .header-txt {
    font-size: 14px;
    color: #ffffff;
  }
  .header-discord {
    width: 14px;
    margin-bottom: -4px;
    height: 16px;
  }
  .header-discord img {
    margin: 0px 4px -2px 4px;
  }
  /* Header End */
  /* Navbar Items Starts Here */
  .nav-logo img {
    width: 150px;
  }

  .navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 120px;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-right: -56px;
  }

  .nav-links > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #6f7288;
  }

  .nav-links > a:hover {
    color: #000000;
    font-weight: 500;
    transition: color 3ms linear, font-weight 3ms linear;
  }

  .nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .Book-a-demo-btn {
    padding: 15px 26px;
    background-color: #77429a;
    border-radius: 200px;
    color: #ffffff;
  }

  .Book-a-demo-btn p {
    font-size: 16px;
    font-weight: 500;
  }

  .Book-a-demo-btn:hover {
    background-color: #451e5f;
    transition: background-color 200ms linear;
    cursor: pointer;
  }

  .Login-btn {
    padding: 12px 26px;
    border: #77429a solid 2px;
    border-radius: 200px;
    color: #77429a;
  }

  .Login-btn p {
    font-size: 16px;
    font-weight: 500;
  }
  /* Navbar Ends Here */
  /* Hero Section Starts Here */
  /* Grid Pattern */
  .grid-bg {
    position: relative;
    width: 100%;
    margin-top: -120px;
    background: linear-gradient(to bottom, #77429a34 0%, #ffffff 100%);
    .grid-bg img {
      width: 100%;
      height: auto;
      display: block;
      margin-top: 0;
      position: relative;
      z-index: 1;
    }
    margin: 0;
    position: relative;
    z-index: 1;
  }

  .grid-bg img {
    width: 100%;
    margin-top: -120px;
    z-index: -1;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -440px;
  }

  .new-update {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    background-color: #ebd1fd;
    border-radius: 200px;
    width: fit-content;
    height: fit-content;
    gap: 8px;
    margin-bottom: 16px;
  }

  .new-update img {
    display: inline;
    width: 21px;
    height: auto;
  }

  .new-update > div:first-child {
    width: fit-content;
    height: fit-content;
    margin-bottom: -9px;
  }

  .new-update p {
    display: flex;
    font-size: 14px;
    color: #161c52;
  }

  .hero-heading {
    max-width: 960px;
    color: #161c52;
  }

  .hero-heading h1 {
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1%;
    line-height: 120%;
    margin-bottom: 14px;
  }

  .instrument-italic-font {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    color: #77429a;
  }

  .hero-supporting-txt {
    max-width: 540px;
    color: #484a61;
    margin-bottom: 34px;
  }

  .hero-supporting-txt p {
    text-align: center;
    line-height: 24px;
    font-weight: 400;
  }

  .fifteen-day-btn {
    align-items: center;
    padding: 18px 32px;
    background-color: #77429a;
    color: #ffffff;
    border-radius: 200px;
    max-width: fit-content;
    margin-bottom: 100px;
  }

  .twelve-hundred-clients {
    width: 250px;
    height: 90px;
    margin-bottom: -52px;
    margin-left: -10px;
    background-color: none;
  }

  .btn-and-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }


  /* Stack Section Starts Here */
  .stack-section {
    background-image: url(../assets/stack-section.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 690px;
    margin-top: -400px;
    justify-content: center;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .companies-text {
    font-size: 18px;
    text-align: center;
    width: fit-content;
    font-weight: 500;
    color: #ffffff;
    margin-left: auto;
    margin-bottom: 80px;
    margin-right: auto;
  }

  .stacks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .txt-and-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -420px;
  }

  /* Smart Advantage Section Starts Here */
  .smart-adv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 148px;
  }

  .smart-h1 {
    font-size: 30px;
    text-align: center;
  }

  .smart-h1 h1 {
    font-weight: 500;
    line-height: -2%;
    color: #161c52;
  }

  .italic-font {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    color: #77429a;
  }

  .smart-para {
    max-width: 600px;
    font-size: 16px;
    color: #484a61;
    text-align: center;
  }

  .smart-para p {
    font-weight: 400;
    line-height: 140%;
  }

  .heading-smart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 38px;
  }

  .three-cards-df {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 16px;
    margin-bottom: 64px;
    width: fit-content;
    scale: calc(0.9);
  }

  .card-one {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 400px;
    scale: calc(1);
  }

  .img-one img {
    width: 400px;
    height: auto;
  }

  .card-one-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .card-one-txt h1 {
    font-size: 22px;
    font-weight: 600;
  }

  .card-one-txt p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .card-vertical {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .fourth-Card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
    margin-bottom: 120px;
  }

  .fourth-Card img {
    height: 600px;
  }

  .image-four img {
    width: 500px;
    height: auto;
  }

  .heading-and-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 12px;
  }

  .heading-and-para h1 {
    font-size: 44px;
    font-weight: 500;
    width: 400px;
    color: #161c52;
  }
  .section-italic {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    color: #77429a;
  }

  .heading-and-para p {
    font-size: 16px;
    width: 500px;
    line-height: 25px;
    color: #484a61;
    font-weight: 400;
  }

  .bullet-points {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 24px;
  }

  .point-one,
  .point-two,
  .point-three {
    width: fit-content;
    display: flex;
    gap: 16px;
  }

  .point-one img,
  .point-two img,
  .point-three img {
    width: 46px;
    height: 46px;
  }

  .point-one h1,
  .point-two h1,
  .point-three h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .point-one p,
  .point-two p,
  .point-three p {
    font-size: 16px;
    color: #484a61;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: -24px;
  }

  /* Functionality Section Starts Here */
  .functionalities-sct {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #77429a;
    margin: 0px 00px 0px 0px;
    padding: 84px 0px;
  }

  .functionality-heading {
    text-align: center;
  }

  .functionality-heading h1 {
    font-size: 40px;
    font-weight: 500;
    max-width: 740px;
  }
}
